# Web Framework
fastapi
uvicorn


# AI & Inference stack
--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
sentence-transformers

# Utilities
numpy
requests
Pillow
huggingface_hub
typing-extensions